@import '../../styles/vars';

.about_section {
    position: relative;
    z-index: -1;
    background-color: $white;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 50px !important;
    padding-top: 80px !important;
    }

.green{
    color: $greenColor;
}

.tech_icons {
    font-size: 4.5em;
    margin: 15px;
    padding: 10px;
    opacity: 0.93;
    border: 1.7px solid $greenColor;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    display: table;
    box-shadow: 4px 5px 4px 3px $lightBackColor;
    overflow: hidden;
    transition: all 0.8s ease 0s;
}
  
@media (max-width: 1233px) {
    .tech_icons {
        margin: 10px !important;
    }
}
  
.tech_icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid $greenColor !important;
}

.tech_icon_images {
    padding: 20px !important;
    line-height: 1.6 !important;
}

.quote-card-view {
    border: none !important;
    color: $white !important;
    background-color: transparent !important;
}
  
.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}
  
@media (max-width: 767px) {
    .about-img {
      padding-top: 0 !important;
    }
}

.img_fluid {
    max-width: 320px;
    margin-top: -15px;
}

.heading {
    color: $backMainTextColor !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}