@import "../../styles/vars";

.contact_section {
    position: relative;
    background-color: $white;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 50px !important;
    padding-top: 100px !important;

}

.heading {
    font-size: 2.5rem;
    color: $darkBackColor;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .green {
    color: $greenColor;
  }
  
  .contact_form {
    background-color: darken($navBarlightBackColor, 5%);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
  }
  
  .contact_form_group {
    margin-bottom: 1.5rem;
  }
  
  .contact_form_label {
    font-size: 1.2rem;
    color: $backMainTextColor;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $greenColor;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: $backMainTextColor;
    background-color: $white;
    margin-top: 0.5rem;
    position: relative;
    z-index: 1;
  }
  
  .textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .contact_form_button {
    background-color: $greenColor;
    color: $white;
    margin-top: -10px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
  }
  
  .contact_form_button:hover {
    background-color: $orangeColor;
  }
  
  .contact_info {
    font-size: 1.2rem;
    color: $backMainTextColor;
    margin-top: 2rem;
    text-align: center;
  }
  
  .social_links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    z-index: 10; /* Впевнюємося, що іконки соцмереж знаходяться на передньому плані */
  }
  
.social_icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: $greenColor;
    color: $white;
    border-radius: 50%; /* Кругла форма */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;

    /* Прибираємо внутрішні відступи */
    padding: 0;

    &:hover {
        background-color: $orangeColor;
    }
}
  
.social_icon a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sumbit_button {
    background-color: $greenColor;
    color: $white;
    margin-top: 10px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    position: relative;
    display: flex;
    justify-content: center;


    &:hover {
        background-color: $orangeColor;
    }
}

.toast {
    animation: fadeout 1s ease-out forwards;
}

@keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.contactButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px 15px;
    z-index: 1050;
}

.feedbackModal {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
}