@import "../../styles/vars";


.floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: $darkBackColor;
    color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

    &:hover{
        background-color: lighten($darkBackColor, 20%);
    }
}