@import '/src/styles/vars';

.img_fluid_logo{
  padding-left: 25%;
  width: 150px;
}

.sticky {
    transition: all 0.3s ease_out 0s;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
    backdrop-filter: blur(15px);
  }

.navbar {
    position: fixed;
    transition: all 0.3s ease-out 0s;
    font-size: 1.2rem;
    background-color: $navBarlightBackColor;
}

.navbar_toggler {
    position: relative;
    background-color: transparent;
    border-color: transparent;
}

.navbar_toggler_span {
display: block;
background-color: $lightBackColor;
height: 30px;
width: 27px;
margin-top: 5px;
margin-bottom: 5px;
transform: rotate(0deg);
left: 0;
opacity: 1;
}

.navbar_toggler:focus,
.navbar_toggler:active {
outline: 0;
}

.navbar_toggler_span:nth-child(1),
.navbar_toggler_span:nth-child(3) {
transition: transform 0.35s ease-in-out;
transition: transform 0.35s ease-in-out;
}

.navbar_toggler:not(.collapsed) span:nth-child(1) {
position: absolute;
left: 12px;
top: 10px;
transform: rotate(135deg);
opacity: 0.9;
}

.navbar_toggler:not(.collapsed) span:nth-child(2) {
height: 12px;
visibility: hidden;
background-color: transparent;
}

.navbar_toggler:not(.collapsed) span:nth-child(3) {
position: absolute;
left: 12px;
top: 10px;
transform: rotate(_135deg);
opacity: 0.9;
}

@media (max_width: 1233px) {
    .navbar {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        background-color: mainBackColor;
    }
    .navbar_nav .nav_item a::after {
        display: none;
    }
}

.navbar_brand {
color: $whiteMainTextColor;
}

.navbar_nav .nav_link {
color: $whiteMainTextColor;
padding-right: 1rem;
padding-left: 1rem;
}

.nav_link {
padding: 0.8rem 1rem;
}

@media (max-width: 1233px) {
.nav_link {
    padding: 0.7rem 1rem;
}
}

.navbar_nav .nav_item {
position: relative;
margin-left: 20px;
}

.navbar_nav .nav_item a {
font-weight: 400;
transition: all 0.3s ease_out 0s;
position: relative;
z-index: 1;
}

.navbar_nav .nav_item a::after {
content: "";
position: relative;
display: block;
height: 5px;
width: 0;
border-radius: 16px;
background: $lightBackColor;
bottom: 1px;
left: 0;
z-index: _1;
transition: all 0.3s ease_out 0s;
}

.navbar_nav .nav_item a:hover::after {
width: 100%;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba( 239, 236, 236, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdownMenuItem {
  display: block;
  padding: 0.5em 1em;
  color: black;
  text-decoration: none;
}

.dropdownMenuItem:hover {
  background-color: $greenColor;
  border-radius: 1rem;
  color: $whiteMainTextColor
}

.login_button {
  background-color: $darkBackColor;
  border-radius: 10px;
  color: $white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  line-height: 1.5;
  transition: background-color 0.3s ease; /* Додає плавний перехід для підсвічування */

  &:hover {
    background-color: lighten($greenColor, 20%); /* Підсвічує кнопку при наведенні мишкою */
  }
}

.login_div {
  display: flex; /* Вирівнюємо текст і кнопку по горизонталі */
  align-items: center; /* Вирівнюємо по вертикалі */
  justify-content: flex-end; /* Вирівнюємо елементи праворуч */
  position: absolute; /* Абсолютне позиціонування */
  right: 20px; /* Відступ від правого краю */
  top: 50%; /* Центруємо по вертикалі */
  transform: translateY(-50%); /* Центруємо по вертикалі */
  gap: 10px; /* Відступ між текстом і кнопкою */
  font-size: 1.3rem; /* Розмір тексту */
  font-weight: 400; /* Робимо текст трохи жирнішим */
  color: $darkBackColor; /* Темний колір тексту */
}

.logout_button {
  background-color: $white; /* Білий фон */
  border: 1px solid $darkBackColor; /* Темний бордер */
  border-radius: 5px; /* Закруглені кути */
  color: $darkBackColor; /* Темний текст */
  right: 20px; /* Відступ від правого краю */
  padding: 5px 15px; /* Відступи всередині кнопки */
  font-size: 0.9rem; /* Розмір тексту кнопки */
  cursor: pointer; /* Вказівник при наведенні */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */

  &:hover {
    background-color: $darkBackColor; /* Темний фон при наведенні */
    color: $white; /* Білий текст при наведенні */
  }
}