.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.preserveWhitespace {
  white-space: pre-wrap;
}
