@import "../../styles/vars";

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
}

.math {
  font-size: 4rem;
  font-weight: bold;
  color: $whiteMainTextColor;
  margin-bottom: 0.5rem;
  text-align: center;
}

.touch {
  font-size: 1.5rem;
  padding-bottom: 0.1rem;
  color: $whiteMainTextColor;
  margin-bottom: 1rem;
}
