// light
$lightBackColor: #E3EBFF;
$navBarlightBackColor: #e7e7e7;

//dark
$darkBackColor: #3F4B3B;
$navBardarkBackColor: #929691;

$lightBackColor: #94C595;
$greenColor: #45624E;
$orangeColor: #E6AA68;

$whiteMainTextColor: #e7e7e7;
$backMainTextColor: #343434;
$white: #f0f0f0