@import "./vars";

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: $white;
    opacity: 1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $darkBackColor;
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $lightBackColor;
    border-radius: 12px;
  }

  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }