@import '/src/styles/vars';

.footer {
  background-color: $darkBackColor;
  color: $white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto; /* Додаємо автоматичний відступ, щоб футер завжди був внизу */
}
  
  .copywright {
    font-size: 1rem;
    color: $white;
  }
  
  .body {
    text-align: center;
    a {
      font-size: 1.5rem;
      color: $white;
    }
  }  

@media (max-width: 1233px) {
    .copywright {
        text-align: center;
    }

    .body {
        text-align: center;
    }
}

.h3 {
    font-size: 10px;
    color: $whiteMainTextColor;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.icons {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    color: $whiteMainTextColor;
    list-style-type: none;
    
}

.blockquote-footer {
    color: $lightBackColor;
}
