@import '/src/styles/vars';

.algebra-data-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: $lightBackColor;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: $backMainTextColor;
  }
  
  .algebra-data-container h1 {
    color: $greenColor;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .algebra-data-container h2 {
    color: $greenColor;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .algebra-data-container p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .algebra-data-container .loading {
    color: $orangeColor;
    font-size: 1rem;
  }
  
  .algebra-data-container .error {
    color: red;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .algebra-data-container .no-data {
    color: $backMainTextColor;
    font-size: 1rem;
  }
  